@import '../../fonts/fonts.scss';
@include getFont;

.noExplanation {
    display: none;
}

.explanation {
    top: 10vh;
    right: 10vw;
    width: 65vw;
    position: absolute;
    height: 70vh;
    z-index: 3;
    background-color: rgba(138, 149, 193, 1);
    transition: all 3s;
    border: 1rem solid black;
    border-radius: 30px;
    overflow-y: scroll;

    // not-standard
    &::-webkit-scrollbar{
        width: 1vw;
        height: 1.5vh;
        background-color: #aaa;

    }
    &::-webkit-scrollbar-thumb {
        background: #000;
    }

    .title {
        font-size: 20px;    
    }


}

.explanation h3 {
    font-family: 'codicon';
    font-size: 2.5vw;
    text-align: center;
}

