@import '../../fonts/fonts.scss';
@include getFont;

header {
    width: 100vw;
    height: 5vh;
    background-color: rgba(62, 52, 32, 0.2);
    position: sticky;
    display: flex;
   
    justify-content: space-between;
    & > * {
      padding: 1vw;
      text-align: center;
      background-color: rgba(255,255,255,0.7);
      font-family: 'codicon';
      font-size: 1.5em;
    }
    & div:hover {
      background-color: rgba(34,40,30,0.7);
      color:white;
    }
  
  }